<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>500 | Anysols</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ui/styles/theme.css" rel="stylesheet">
    <link href="/ui/styles/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <script defer src="/assets/js/fontawesome.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="card box-shadow mt-3">
        <div class="card-header">
            <img src="https://raw.githubusercontent.com/anysols/anysols.github.io/master/assets/img/logo.png"
                 alt="Anysols" style="height: 25px">
            500
        </div>
        <div class="card-body">
            <h5 class="card-title">Internal server error</h5>
            <pre class="card-text"><%= error %></pre>
            <a href="/#" class="btn btn-sm btn-primary"><i class="fas fa-angle-left"></i> back to home</a>
        </div>
    </div>
</div>
</body>
</html>
