<% modules.forEach(function(module, index) { %>
<li class="<% if(!module.children) { %>link<% } %>">
    <a class="<% if(module.children) { %>shortcuts-tree<% } %>" data-url="<%= module.url %>" href="javascript:void(0)">
        <span class="nav-item-name"><%= module.name %></span>
        <% if(module.children) { %>
        <i class="fas fa-chevron-right" style="position: absolute; right: 10px;"></i>
        <% } %>
    </a>
    <% if(module.children && module.children.length) { %>
    <ul class="sidebar-sub-level-items fly-out-list">
        <li class="divider fly-out-top-item"></li>
        <%- partial('./nav-tree', {modules: module.children}) %>
    </ul>
    <% } %>
</li>
<% }); %>