$table-top: 40px;

main {
  padding-top: $table-top;
}

header {
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 10;
  background-color: #e3e3e3;;
}

.shadow {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.title {
  margin-top: 0.35em;
}

.table-area {
  position: relative;
  z-index: 0;
}

table.responsive-table {

  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;

  thead.fixed-top {
    position: fixed;
    top: $table-top;
    left: 0;
    right: 0;
    width: 100%;
    background: #eee;
    table-layout: fixed;
    display: table;
  }
  th {
    background: #eee;
  }
  tr > td, th {
    text-align: left;
  }
}