$table-top: 40px;

body {
  background-color: white;
  header {
	position: fixed;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 10;
	background-color: #e3e3e3;
	.title {
	  margin-top: 0.35em;
	}
  }

  .shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  main {
	padding-top: $table-top;

	.table-area {
	  position: relative;
	  z-index: 0;
	}

	section {
	  position: relative;
	  table.responsive-table {
		&.fixed-table-header {
		  thead {
			top: $table-top;
			background: #eee;
			table-layout: fixed;
			display: table;
			position: sticky;
		  }
		  tbody{
			table-layout: fixed;
			display: table;
		  }
		}

		th {
		  background: #eee;
		  vertical-align: middle;
		  text-align: left;
		}
		tr > td {
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
	  }
	}
  }

}