$nav-sidebar-width: 250px;
body {
  main {
    margin-left: $nav-sidebar-width;
    #main-iframe {
      width: 100%;
      min-height: calc(100vh - 38.8px);
      display: block;
    }
  }

  .nav-sidebar {
    transition: width 0.3s, left 0.3s;
    position: fixed;
    z-index: 400;
    width: $nav-sidebar-width;
    top: 38.8px;
    bottom: 0;
    left: 0;
    box-shadow: inset -2px 0 0 #e5e5e5;
    transform: translate3d(0, 0, 0);

    .context-header {
      position: relative;
      margin-right: 2px;
      width: $nav-sidebar-width;

      a {
        transition: padding 0.3s;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 10px 16px 10px 10px;
        color: #2e2e2e;
        text-decoration: none;
      }
      .avatar-container {
        flex: 0 0 40px;
        background-color: #fff;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        overflow: hidden;
        display: flex;
        float: left;
        border-radius: 50%;
        border: 1px solid #f5f5f5;
        transition: border-color 100ms linear;
      }
      .sidebar-context-title {
        overflow: hidden;
        text-overflow: ellipsis;
        color: #2e2e2e;
      }
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        white-space: nowrap;
        a {
          transition: padding 0.3s;
          display: flex;
          align-items: center;
          padding: 12px 15px;
          color: #707070;
          text-decoration: none;
        }
        &.link a {
          &:hover {
            background: rgba(0, 0, 0, 0.2);
          }
        }
      }
      > li {
        a {
          position: relative;
        }
      }
      &.sidebar-sub-level-items > li a {
        padding: 8px 16px 8px 40px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }
}

.nav-sidebar-inner-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.sidebar-sub-level-items {
  display: none;
}

.sidebar-top-level-items > li.active .sidebar-sub-level-items:not(.is-fly-out-only) {
  display: block;
}

.avatar-container .avatar {
  border-radius: 0;
  border: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  float: left;
}

.context-header:hover, .context-header a:hover, .context-header .participants-more .btn-link:hover, .participants-more .context-header .btn-link:hover, .context-header .user-list-more .btn-link:hover, .user-list-more .context-header .btn-link:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: #2e2e2e
}

.nav-sidebar li.active {
  box-shadow: inset 4px 0 0 #4b4ba3;
}

.nav-sidebar li.active.link {
  box-shadow: inset 4px 0 0 #3da34a;
}

.sidebar-top-level-items > li.active {
  background: rgba(0, 0, 0, 0.04);
}

.nav-sidebar li.active > a {
  color: #393982;
  font-weight: 600;
}

.nav-sidebar li.link.active > a {
  color: #009688;
}

.sidebar-top-level-items > li.active > a {
  margin-left: 4px;
  padding-left: 11px;
}

.sidebar-sub-level-items > li.active a, .sidebar-sub-level-items > li.active a:hover, .sidebar-sub-level-items > li.active a:focus {
  background: rgba(0, 0, 0, 0.04);
}

.avatar-tile {
  background-color: #E8EAF6;
  color: #555;
}
