:root {
  --primary: #3F51B5;
  --primary-dark: #283593;
  --primary-label: #5C6BC0;
  --primary-button: #1A237E;
  --page-bg: #e0e0e0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: var(--page-bg);
}