<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>Anysols</title>

    <!--
        Stylesheets and Preprocessors
    -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/views/styles/theme.css" rel="stylesheet">
    <link href="/views/styles/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <style>
        body {
            padding-top: 38.8px; /* Show it is fixed to the top */
        }
    </style>
    <!--
       Scripts
    -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.min.js"></script>

</head>

<body>
<%- body %>

<script defer src="/assets/js/jquery.smoothwheel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>

  window.onfocus = function() {
    if (!Cookies.get('x-authenticated'))
      window.location.reload();
  }
</script>
</body>
</html>
