<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>Anysols</title>

    <!--
        Stylesheets and Preprocessors
    -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link href="/ui/styles/theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="/ui/styles/base.css" rel="stylesheet">
    <!--
       Scripts
    -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.min.js"></script>
</head>

<body>
<%- body %>
</body>
</html>
