<%- partial('partials/header-navigation') %>
<main role="main">

    <% if(!applications.length) { %>
    <div class="center-div">
        <div class="get-apps">
            <div class="d-flex justify-content-center">
                <img src="/assets/img/store.png" style="height: 300px; margin-top: 50px">
            </div>
            <h4 class="text-center">Looks like no apps installed here</h4>
            <p class="text-center">The Store has Apps, Plugins and more! Go get your favourite business applications
                                   from <a href="/store">here</a></p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="/store">Get apps from Store <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="container-fluid">
        <div class="row">
            <% applications.forEach(function(application, index) { %>
            <div class="col-md-1 col-sm-2 p-2">
                <a class="no-style" href="/app/<%= application.id %>">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center"><%= application.name %></div>
                    </div>
                </a>
            </div>
            <% }); %>
        </div>
    </div>
    <% } %>
</main>

