@import '../../../node_modules/sass-material-colors/sass/_sass-material-colors.scss';

$white: #fff;
$black: #000;

$primary-color: 'blue';
$primary-1: material-color($primary-color, '50');
$primary-2: material-color($primary-color, '100');
$primary-3: material-color($primary-color, '200');
$primary-4: material-color($primary-color, '300');
$primary-5: material-color($primary-color, '400');
$primary-6: material-color($primary-color, '500');
$primary-7: material-color($primary-color, '600');
$primary-8: material-color($primary-color, '700');
$primary-9: material-color($primary-color, '800');
$primary-10: material-color($primary-color, '900');

$grey-1: material-color('grey', '50');
$grey-2: material-color('grey', '100');
$grey-3: material-color('grey', '200');
$grey-4: material-color('grey', '300');
$grey-5: material-color('grey', '400');

