$table-top: 40px;

body {
  background-color: white;

  .navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    .navbar-brand {
      font-size: inherit;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  main {
    padding-top: $table-top;

    .form-group.required .col-form-label:after {
      content: "*";
      color: red;
    }

    .form-control:disabled, .form-control[readonly] {
      background: #f8f9fa;
      border-color: #f8f9fa;
      cursor: no-drop;
      color: #212529;
    }

    .select-collection, .select-option, .select-reference {
      .btn-light:not(.disabled) {
        background: white;
        border: 1px solid #ced4da;
      }
    }

    .related-list-iframe {
      width: 100%;
      height: 20em;
      display: block;
      border: 1px solid #dee2e6;
    }

  }

  .shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

}