<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>Anysols</title>

    <!--
        Stylesheets and Preprocessors
    -->
    <link href="/assets/3rd-party/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles/base.css" rel="stylesheet">
    <link href="/assets/styles/form.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!--
       Scripts
    -->
    <script src="/assets/3rd-party/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/3rd-party/js/popper.min.js"></script>
    <script src="/assets/3rd-party/js/bootstrap.min.js"></script>
    <script defer src="/assets/3rd-party/js/fontawesome.min.js"></script>

</head>
<body>
<%- include('partials/header-navigation') %>
<main role="main">

    <div class="container-fluid pt-5">

    </div>

</main>



<script src="/anysols-ui/web-components/anysolsLogo.js"></script>
</body>
</html>