<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>Anysols</title>

    <!--
        Stylesheets and Preprocessors
    -->
    <link href="/assets/3rd-party/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles/base.css" rel="stylesheet">
    <link href="/assets/styles/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!--
       Scripts
    -->
    <script src="/assets/3rd-party/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/3rd-party/js/popper.min.js"></script>
    <script src="/assets/3rd-party/js/bootstrap.min.js"></script>
    <script defer src="/assets/3rd-party/js/fontawesome.min.js"></script>

</head>
<body>
<%- include('partials/header-navigation') %>
<main role="main">

    <div class="container-fluid pt-5">
        <div class="card-deck">
            <div class="card shadow rounded-0 border-0 col-3 p-0">
                <div class="card-body">
                    <h5 class="card-title">Clock</h5>
                    <p class="card-text">
                        <anysols-time></anysols-time>
                    </p>
                </div>
            </div>
            <div class="card shadow rounded-0 border-0 col-3 p-0">
                <div class="card-body">
                    <h5 class="card-title">Visits</h5>
                    <p class="card-text">
                        <canvas id="line-chart" height="50px"></canvas>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="shadow bg-white">
           asfasd
        </div>
    </div>

</main>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
    var myChart = new Chart(document.getElementById('line-chart'), {
        "type": "line",
        "data": {
            "labels": ["January", "February", "March", "April", "May", "June", "July"],
            "datasets": [{
                label: '',
                "data": [65, 59, 80, 81, 56, 55, 40],
                "borderColor": "#36cfc9",
                "backgroundColor": "#e6fffb",
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales:{
                xAxes: [{
                    display: false //this will remove all the x-axis grid lines
                }],
                yAxes: [{
                    display: false //this will remove all the x-axis grid lines
                }]
            }
        }
    });
</script>
<script src="https://rawcdn.githack.com/anysols/anysols-ui/ecf8bdbdd4f405452b0d5b8fa4c34a1d9376fa44/web-components/anysolsLogo.js"></script>
<script src="https://rawcdn.githack.com/anysols/anysols-ui/ecf8bdbdd4f405452b0d5b8fa4c34a1d9376fa44/web-components/anysolsTime.js"></script>
</body>
</html>