<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>Anysols</title>

    <!--
        Stylesheets and Preprocessors
    -->
    <link href="/anysols-ui/3rd-party/css/bootstrap.min.css" rel="stylesheet">
    <link href="/anysols-ui/styles/base.css" rel="stylesheet">
    <link href="/assets/styles/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!--
       Scripts
    -->
    <script src="/anysols-ui/3rd-party/js/jquery-3.3.1.min.js"></script>
    <script src="/anysols-ui/3rd-party/js/popper.min.js"></script>
    <script src="/anysols-ui/3rd-party/js/bootstrap.min.js"></script>
    <script defer src="/anysols-ui/3rd-party/js/fontawesome.min.js"></script>

</head>

<body>


<nav class="navbar navbar-expand-md header-navigation">
    <div class="container">
        <div class="navbar-brand py-2">
            <anysols-logo scale="10" style="display:inline-block; height: 48px; width: 88px" animate></anysols-logo>

        </div>
        <div class="mx-1 py-1 mr-auto">
            <h1  style="font-size: 24px">Anysols</h1>
        </div>


        <div class="mx-1 px-2 text-white py-1">
            <a href="/auth/login?redirect=/home" class="btn btn-outline-primary btn-sm">
                    Sign In
            </a>
        </div>

    </div>
</nav>


<main role="main">

    <div class="jumbotron" >
        <div class="container">
            <h1 class="display-3">Welcome</h1>
            <p>Work made easy with anysols.</p>
            <p><a class="btn btn-primary btn-lg" href="/auth/login?redirect=/home" role="button">Sign In</a></p>
        </div>
    </div>

    <div class="separator" style="height: 90px">
        <svg  style="fill: #2f54eb;width: 100%;height: 90px;" viewBox="0 0 1280 70" preserveAspectRatio="none" class="svg-curve svg-curve-grey-dark" role="presentation" aria-hidden="true"><polygon points="0 0 1280 70 0 70"></polygon></svg>
    </div>
     <div class="container-fluid py-5" style="background: #2f54eb">
        <div class="container">
            <h1 class="display-3 text-center text-white">News</h1>
            <p></p>
            <div class="card-deck mb-3 text-center">
                <div class="card  mb-4 text-center shadow-lg" >
                    <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16d54481dd1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16d54481dd1%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.1171875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card  mb-4 text-center shadow-lg" >
                    <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16d54481dd1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16d54481dd1%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.1171875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card  mb-4 text-center shadow-lg" >
                    <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16d54481dd1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16d54481dd1%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.1171875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<script defer src="/anysols-ui/3rd-party/js/jquery.smoothwheel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.25.3/sweetalert2.all.min.js"></script>
<script src="/anysols-ui/web-components/anysolsLogo.js"></script>

</body>
</html>

