<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.png">

    <title>Sign In | Anysols</title>

    <!-- Bootstrap core CSS -->
    <link href="/anysols-ui/3rd-party/css/bootstrap.min.css" rel="stylesheet">
    <link href="/anysols-ui/styles/theme.css" rel="stylesheet">
    <link href="/assets/styles/signin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

</head>

<body>
<form id="form-signin" class="form-signin" action="javascript:void(0);" method="post">
    <div id="signin-header" class="text-center mb-4">
        <anysols-logo scale="18" style="display:inline-block; height: 120px;" animate></anysols-logo>
        <h1 class="h3 mb-3 font-weight-normal">Sign in to Anysols</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="username" class="form-control" placeholder="Username" autocomplete="off" required
               autofocus>
        <label for="username" class="sr-only">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" class="form-control" placeholder="Password" autocomplete="off" required>
        <label for="password" class="sr-only">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
</form>
<script>
    (function () {
        'use strict';
        const $signInHeader = document.getElementById('signin-header');
        const $username = document.getElementById('username');
        const $password = document.getElementById('password');
        const searchParams = new URLSearchParams(window.location.search);
        let redirect = searchParams.get('redirect');
        if (!redirect)
            redirect = '/home';


        const $form = document.getElementById('form-signin');
        const formData  = new FormData();
        formData.set('username', 'admin');

        $form.addEventListener('submit', function (evt) {
            //stop form submission
            evt.preventDefault();

            const params = {
                username: $username.value,
                password: $password.value
            };
            const searchParams = Object.keys(params).map((key) => {
                return encodeURIComponent(key) + '=' + encodeURIComponent(params[key]);
            }).join('&');

            fetch('/auth/login', {
                method: 'POST',
                headers:{'content-type': 'application/x-www-form-urlencoded;charset=UTF-8'},
                body: searchParams
            }).then(function (res) {
                if (res.ok) {
                    window.location.href = redirect;
                } else {
                    const $alert = $signInHeader.querySelector('.alert')
                    if ($alert) $alert.remove();
                    res.json().then(function (data) {
                        var child = document.createElement('div');
                        child.innerHTML = ('<div class="alert alert-danger" role="alert">' + data.message + '</div>');
                        $signInHeader.appendChild(child.firstChild);
                        $password.value = null;
                        if (!data.user) {
                            $username.value = null;
                            $username.focus();
                        } else
                            $password.focus();
                    })
                }
            });
        });
    })();
</script>
<script src="/anysols-ui/web-components/anysolsLogo.js"></script>
</body>
</html>
