body {

  .brand-logo h1 {
    font-size: 24px;
    color: #2977c9;
    font-weight: 400;
  }

  .news-section {
    background: #5968aa;
  }

  .jumbotron {
    background: transparent;
  }

  .card {
    border: 0;
  }
}
