<%- partial('../partials/header-navigation') %>
<script>
    $(document).ready(function () {
        $('.read-more').on('click', function () {
            $(this).remove();
            $('.more-content').removeClass('d-none');
        });
    });
</script>
<main role="main">

    <div class="jumbotron jumbotron-fluid" style="background:white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="/assets/img/app.png" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <h1 class="display-4">School Administration</h1>
                    <p>School Administrative module allows you carry out all the administrative tasks which consume a
                       lot of
                       time and requires much attention and efforts, easily and effortlessly.
                        <span class="more-content d-none">It saves a lot of time and human resource by managing many of the things which your school carries out on a daily basis. The user can manage school administrative tasks easily and make reports on daily basis of different tasks.</span>
                        <a class="read-more" href="javascript:void(0)">more</a>
                    </p>
                    <p><a class="btn btn-primary" href="#" role="button">Install</a></p>
                    <p>Current Version : 1.0.0</p>
                    <div class="load-bar">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h4>Few of the services offered by the School Administrative module are listed below :</h4>
        <ul>
            <li>You can manage the admissions of students very easily and effortlessly without any paperwork.</li>
            <li>Manage the complete details of the student and staff of the school using a centralized system.</li>
        </ul>
    </div>

</main>

