<div class="container-fluid mt-3">
    <div class="jumbotron bg-light">
        <h1>Welcome</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it
                        will remain fixed to the top of your browser's viewport.</p>
    </div>
</div>