<style>
/* Show it is fixed to the top */
body {
  padding-top: 59.6px;
  background: #ccc;
}
main {
  margin-left: 17%;
}

.main-iframe {
	width: 100%;
	min-height: calc(100vh - 59.6px);
	display: block;
}
</style>
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light justify-content-between">
  <div class="navbar-brand" href="#">
	<span class="navbar-toggler-icon" href="#" aria-expanded="false" aria-label="Toggle navigation"></span>
  
	<img src="https://raw.githubusercontent.com/anysols/anysols.github.io/master/assets/img/logo.png" class="d-inline-block align-top" alt="Anysols" width="30" height="30">
  </div>
  <form class="form-inline">
	  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
</nav>

<main role="main">
	<iframe class="main-iframe" src="/form" frameBorder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
</main>

    