<link href="/views/styles/list.css" rel="stylesheet">
<div class="list-page">
    <header class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-link btn-sm float-left mr-2" data-toggle="tooltip"
                        data-placement="top" data-container="body" title="Menu">
                    <i class="fas fa-bars"></i>
                </button>
                <h1 class="h6 float-left title mb-0">
                    <%= table.label %>
                </h1>
                <a href="/p/<%= table.name %>/new" class="btn btn-primary btn-sm float-left mx-2">
                    New
                </a>

            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                            data-container="body" title="Filter">
                        <i class="fas fa-filter"></i>
                    </button>
                    <button class="btn btn-link btn-sm"><i class="fas fa-angle-double-left"></i></button>
                    <button class="btn btn-link btn-sm"><i class="fas fa-angle-left"></i></button>
                    <button class="btn btn-link btn-sm"><i class="fas fa-angle-right"></i></button>
                    <button class="btn btn-link btn-sm"><i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </header>


    <main>
        <div class="container-fluid">

        </div>

        <section class="content-area">
            <div class="table-area">
                <table class="responsive-table table table-hover">
                    <thead>
                    <tr>
                        <% cols.forEach(function(col){ %>
                        <th><%= col.label %></th>
                        <% }); %>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function(item){ %>
                    <tr>
                        <% cols.forEach(function(col){ %>
                        <td><%= item[col.name] %></td>
                        <% }); %>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </section>

    </main>
</div>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    let $table = $('.responsive-table');
    let $thead = $table.find('thead');
    let $tbody = $table.find('tbody');


    let body = $('header');
    $thead.width($thead.width());
    $thead.find('th').each(function(i, el){
      $(el).width($(el).width());
    });
    $tbody.width($tbody.width());
    $tbody.find('tr:first-child').find('td').each(function(i, el){
      $(el).width($(el).width());
    })
    $(window).scroll(function(e) {
      console.log(body.offset().top);
      if (body.offset().top > 50) {
        if (!$tbody.hasClass('shadow')) {
          $thead.addClass('shadow');
          $table.addClass('fixed-table-header');
          $('.table-area').css('margin-top', '50px');
        }
      } else {
        $thead.removeClass('shadow');
        $table.removeClass('fixed-table-header');
        $('.table-area').css('margin-top', '0px');
      }
    });
  });
</script>
